<footer class="flex">
    <div class="newsletter-box">
    <input type="email" name="newsletter" id="footer-newsletter-input" placeholder="Adresse mail">
    <button class="footer-newsletter-button">S'inscrire à la newsletter</button>
    </div>
    <hr>
    <nav class="flex">
        <a routingLink="">Home</a>
        <a routingLink="category">Produits</a>
        <a routingLink="">À propos</a>
        <a routingLink="contact">Contact</a>
        <p>|</p>
        <a routingLink="">FAQ</a>
        <a routingLink="">Conditions générales de vente</a>
    </nav>
    <hr>
    <p class="copyright">Copyright 2022</p>
</footer>