<footer class="flex">
    <div class="newsletter-box">
    <input type="email" name="newsletter" id="footer-newsletter-input" placeholder="Adresse mail">
    <button class="footer-newsletter-button">S'inscrire à la newsletter</button>
    </div>
    <hr>
    <nav class="flex">
        <a href="#">Home</a>
        <a href="#">Produits</a>
        <a href="#">À propos</a>
        <a href="#">Contact</a>
        <p>|</p>
        <a href="#">FAQ</a>
        <a href="#">Conditions générales de vente</a>
    </nav>
    <hr>
    <p class="copyright">Copyright 2022</p>
</footer>