.productCard {
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.productCard img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.productName {
    font-weight: 700;
    font-size: 20px;
    margin-top: 25px;
}

.productPrice {
    font-family: var(--font-lato);
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 60px;
}

.productCard button {
    background-color: var(--color-brique);
    color: var(--color-creme);
    font-family: var(--font-lato);
    padding: 20px 30px;
    font-weight: 700;
    font-size: 15px;
    border: 1px solid var(--color-brique);
    position: absolute;
    bottom: -20px;
    right: 60px;
}

.productCard button:hover {
    background-color: var(--color-creme);
    color: var(--color-brique);
    cursor: pointer;
}

/* Prix en dessous de 20euros */
.isCheap {
    color: green;
}
