.homepage-products-selection {
    background-color: var(--color-green);
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 120px 0;
}

.homepage-products-selection h2 {
    color: white;
    font-weight: 700;
    font-size: 40px;
}

.container-three-products-cards {
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}